  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code class="plain highlighter-rouge">CLIENT_ID</code></td>
        <td>Client ID of your app</td>
      </tr>
      <tr>
        <td><code class="plain highlighter-rouge">AUTH_OPTION</code></td>
        <td>{{ page.auth_option }}</td>
      </tr>
      <tr>
        <td><code class="plain highlighter-rouge">ORG_NAME</code></td>
        <td>Name of your Tenant</td>
      </tr>
      <tr>
        <td><code class="plain highlighter-rouge">SCOPE</code></td>
        <td>As defined in <a href="/reference/scopes/">Custom Scopes</a></td>
      </tr>
    </tbody>
  </table>
